#region-addressees.container
  .region
    .region-title
      %h1= page_title!('addressee')

  .region
    %p
      %b Name reason:
      = @addressee.name_reason
    %p
      %b Ruc:
      = @addressee.ruc
    %p
      %b Identity document:
      = @addressee.identity_document

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_addressee_path(@addressee), class: 'btn btn-success'
    = link_to 'Regresar', addressees_path, class: 'btn btn-warning'
