#region-monedas

  .region
    .page-header
      %h1= page_title!('Monedas')

    .region
      
      .admin-control
        = link_to '<span class="glyphicon glyphicon-plus"></span> Crear'.html_safe, new_moneda_path, class: 'btn btn-primary btn-lg'
    %br
    %br
    .row
      .table-responsive.col-sm-7
        %table.table
          %tr
            %th Nombre
            %th Simbolo
            %th Acciones

          - @monedas.each do |moneda|
            %tr
              %td= moneda.nombre
              %td= moneda.simbolo
              %td
                = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, moneda, class: 'btn btn-info'
                = link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_moneda_path(moneda), class: 'btn btn-success'
                = link_to '<span class="glyphicon glyphicon-trash"></span> Eliminar'.html_safe, moneda, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
