= form_for @factura, :html => { class: '', role: 'form' } do |f|
  - if params[:action] == 'new'
    .row
      .col-sm-10
        %h1
          %span.glyphicon.glyphicon-th
          Crear
          %b Factura
      .col-sm-2
        %br
        .form-group
          .input-group.input-group-lg
            .input-group-addon.primary
              \# 506 -
            - number = NumberInvoice.last.number.to_i + 1
            = f.text_field :numero, class: 'form-control', placeholder: 'numero', value: "#{number}"
    %hr
  - if @factura.errors.any?
    #error_explanation
      %h2= "#{pluralize(@factura.errors.count, "error")}"
      %ul
        - @factura.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-sm-3
      .form-group
        .input-group.input-group-lg
          #click-calendar.input-group-addon
            %span.glyphicon.glyphicon-calendar
          = f.text_field :fecha, class: 'form-control input-lg', value: "#{Time.now.strftime("%Y-%m-%d")}"        
          
    .col-sm-3
      .form-group
        .input-group.input-group-lg
          .input-group-addon
            %span.glyphicon.glyphicon-user
          = f.select :sender_address_id, SenderAddress.all.collect{|x| ["#{x.sender.ruc} / #{x.sender.name_reason} #{x.sender.identity_document} / #{x.direccion}", x.id]}, {:include_blank => 'Remitente'}, { :class => 'form-control select2 input-lg'}
    .col-sm-3
      .form-group
        .input-group.input-group-lg
          .input-group-addon
            %span.glyphicon.glyphicon-map-marker        
          = f.select :credito_id, Credito.all.collect{|x| [x.nombre, x.id]},{:include_blank => 'credito'},class: 'form-control'
    .col-sm-3
      .form-group
        .input-group.input-group-lg
          .input-group-addon
            %span.glyphicon.glyphicon-hand-right   
          = f.select :guide_id, {}, {include_blank: 'Guia'}, class: 'form-control input-lg'

    - 7.times do
      - @factura.elementos.build

  .well
    .row
      .col-sm-1
        %b Cantidad
      .col-sm-2
        %b Guia Remision
      .col-sm-2
        %b Item
      .col-sm-3
        %b Descripcion
      .col-sm-2
        %b P unit
      .col-sm-2
        %b P Venta


      %hr
      = f.fields_for :elementos do |z|      
        .col-sm-1
          .form-group            
            = z.text_field :cantidad, class: "form-control input-lg", value: ""      
        .col-sm-2
          .form-group
            = z.select :guide_id, {}, {}, {:class => 'form-control input-lg select5', disabled: 'disabled'}            
        .col-sm-2
          .form-group
            = z.select :item_id, {}, {}, {class: 'form-control input-lg', disabled: 'disabled'}
        .col-sm-3
          .form-group
            = z.text_field :descripcion, class: 'form-control input-lg' 
        .col-sm-2
          .form-group
            = z.text_field :precio_unitario, class: 'form-control input-lg text-right'
        .col-sm-2
          .form-group
            = z.text_field :precio_venta, class: 'form-control input-lg text-right'


      .col-sm-8
      .col-sm-2
        .pull-right
          %b Valor de Venta
      .col-sm-2
        .form-group
          = f.text_field :valor_venta, class: 'form-control input-lg text-right'      

      .col-sm-8
      .col-sm-2
        .pull-right
          %b I.G.V
      .col-sm-2
        .form-group
          = f.text_field :igv, class: 'form-control input-lg text-right'

      .col-sm-8
      .col-sm-2
        .pull-right
          %b Precio de Venta
      .col-sm-2
        .form-group
          = f.text_field :precio_venta, class: 'form-control input-lg text-right'
          = f.hidden_field :estado, value: '0'

  .row  
    .col-sm-2
      .checkbox
        %label
          = f.check_box :efectivo
          Pago Efectivo
    .col-sm-1
      .checkbox
        %label
          = f.check_box :cheque
          Cheque
    .col-sm-3
      .input-group.input-group-lg
        .input-group-addon
          %span.glyphicon.glyphicon-time
        = f.text_field :banco, class: 'form-control', placeholder: 'Banco'
    .col-sm-3
      .input-group.input-group-lg
        .input-group-addon
          %span.glyphicon.glyphicon-ok-circle
        = f.text_field :numero_cheque, class: 'form-control', placeholder: 'Numero Cheque'
    .col-sm-3
      .input-group.input-group-lg
        .input-group-addon
          %span.glyphicon.glyphicon-calendar
        = f.text_field :cancelado_fecha, class: 'form-control', value: "#{Time.now.strftime("%Y-%m-%d")}"

  %br
  %br   
  .row
    - if params[:action] == 'new' || params[:action] == 'create'   
      .form-group
        .col-sm-12
          = button_tag(type: 'submit', class: "btn btn-success btn-lg") do 
            %span.glyphicon.glyphicon-lock
            Guardar
          = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-primary btn-lg'
    - if params[:action] == 'edit'
      .form-group
        .col-sm-12
          = button_tag(type: 'submit', class: "btn btn-success btn-lg") do 
            %span.glyphicon.glyphicon-new-window
            Guardar
          = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, @factura, class: 'btn btn-info btn-lg'
          = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning btn-lg'
:javascript

  $("#factura_fecha").datepicker({      
      onSelect: function () {
          document.all ? $(this).get(0).fireEvent("onchange") : $(this).change();
          this.focus();
      },
      onClose: function (dateText, inst) {
          if (!document.all)
              this.select();
      },
      format: 'yyyy-mm-dd',
      language: 'es',
      todayHighlight: true
  });

  $("#factura_cancelado_fecha").datepicker({      
      onSelect: function () {
          document.all ? $(this).get(0).fireEvent("onchange") : $(this).change();
          this.focus();
      },
      onClose: function (dateText, inst) {
          if (!document.all)
              this.select();
      },
      format: 'yyyy-mm-dd',
      language: 'es',
      todayHighlight: true
  });


  $('*').on('keydown', function(e){
      if (e.keyCode === 13) {
          var inputs = $(this).parents("form").eq(0).find(":input");
          var idx = inputs.index(this);
          if (idx == inputs.length - 1) {
              inputs[0].select()
          } else {
              inputs[idx + 1].focus(); //  handles submit buttons
              inputs[idx + 1].select();
          }
          return false;
      }
  });



  $("#factura_sender_address_id").change(function(event){
        var id = $("#factura_sender_address_id").val();
        
        $("#factura_elementos_attributes_0_guide_id,#factura_elementos_attributes_1_guide_id,#factura_elementos_attributes_2_guide_id,#factura_elementos_attributes_3_guide_id,#factura_elementos_attributes_4_guide_id,#factura_elementos_attributes_5_guide_id,#factura_elementos_attributes_6_guide_id").load('/facturas/values_guia_remision/?id='+id);

        $("#factura_guide_id").load('/facturas/values_factura_guia_id/?id='+id); 

        // vuelve a todos los items en blanco
        $("#factura_elementos_attributes_0_item_id,#factura_elementos_attributes_1_item_id,#factura_elementos_attributes_2_item_id, #factura_elementos_attributes_3_item_id, #factura_elementos_attributes_4_item_id,#factura_elementos_attributes_5_item_id,#factura_elementos_attributes_6_item_id").load('/facturas/values_item_guia/?id=');


        $("#factura_elementos_attributes_0_guide_id,#factura_elementos_attributes_1_guide_id,#factura_elementos_attributes_2_guide_id,#factura_elementos_attributes_3_guide_id,#factura_elementos_attributes_4_guide_id,#factura_elementos_attributes_5_guide_id,#factura_elementos_attributes_6_guide_id").removeAttr("disabled","disabled");

        $("#factura_elementos_attributes_0_item_id,#factura_elementos_attributes_1_item_id,#factura_elementos_attributes_2_item_id,#factura_elementos_attributes_3_item_id,#factura_elementos_attributes_4_item_id,#factura_elementos_attributes_5_item_id,#factura_elementos_attributes_6_item_id").attr("disabled","disabled");

        if (id == ''){          
            $("#factura_elementos_attributes_0_guide_id,#factura_elementos_attributes_1_guide_id,#factura_elementos_attributes_2_guide_id,#factura_elementos_attributes_3_guide_id,#factura_elementos_attributes_4_guide_id,#factura_elementos_attributes_5_guide_id,#factura_elementos_attributes_6_guide_id").attr("disabled","disabled"); 

            $("#factura_elementos_attributes_0_item_id,#factura_elementos_attributes_1_item_id,#factura_elementos_attributes_2_item_id,#factura_elementos_attributes_3_item_id, #factura_elementos_attributes_4_item_id,#factura_elementos_attributes_5_item_id,#factura_elementos_attributes_6_item_id").attr("disabled","disabled");
        }


  });

  $("#factura_guide_id").change(function(event){
        var id = $("#factura_guide_id").val();              

       
        $("#factura_elementos_attributes_0_item_id,#factura_elementos_attributes_1_item_id,#factura_elementos_attributes_2_item_id, #factura_elementos_attributes_3_item_id, #factura_elementos_attributes_4_item_id,#factura_elementos_attributes_5_item_id,#factura_elementos_attributes_6_item_id").load('/facturas/values_item_guia/?id='+id);

        // carga las guias de remision en blanco cuando se ejecuta una guia de remision
        $("#factura_elementos_attributes_0_guide_id,#factura_elementos_attributes_1_guide_id,#factura_elementos_attributes_2_guide_id,#factura_elementos_attributes_3_guide_id,#factura_elementos_attributes_4_guide_id,#factura_elementos_attributes_5_guide_id,#factura_elementos_attributes_6_guide_id").load('/facturas/values_guia_remision/?id='); 

        $("#factura_elementos_attributes_0_guide_id,#factura_elementos_attributes_1_guide_id,#factura_elementos_attributes_2_guide_id,#factura_elementos_attributes_3_guide_id,#factura_elementos_attributes_4_guide_id,#factura_elementos_attributes_5_guide_id,#factura_elementos_attributes_6_guide_id").attr("disabled","disabled");

        $("#factura_elementos_attributes_0_item_id,#factura_elementos_attributes_1_item_id,#factura_elementos_attributes_2_item_id, #factura_elementos_attributes_3_item_id, #factura_elementos_attributes_4_item_id,#factura_elementos_attributes_5_item_id,#factura_elementos_attributes_6_item_id").removeAttr("disabled","disabled");
        if (id == ''){  
            $("#factura_elementos_attributes_0_item_id, #factura_elementos_attributes_1_item_id, #factura_elementos_attributes_2_item_id, #factura_elementos_attributes_3_item_id, #factura_elementos_attributes_4_item_id, #factura_elementos_attributes_5_item_id,#factura_elementos_attributes_6_item_id").attr("disabled","disabled");
        }

    });


    //capta si hay un cambio en cada uno de los precios de venta
    $("#factura_elementos_attributes_0_precio_venta,#factura_elementos_attributes_1_precio_venta,#factura_elementos_attributes_2_precio_venta,#factura_elementos_attributes_3_precio_venta,#factura_elementos_attributes_4_precio_venta,#factura_elementos_attributes_5_precio_venta,#factura_elementos_attributes_6_precio_venta").change(function(event){

        // capta los valores de todos los precios de venta
        var0 = parseFloat($('#factura_elementos_attributes_0_precio_venta').val());
        var1 = parseFloat($('#factura_elementos_attributes_1_precio_venta').val());
        var2 = parseFloat($('#factura_elementos_attributes_2_precio_venta').val());
        var3 = parseFloat($('#factura_elementos_attributes_3_precio_venta').val());
        var4 = parseFloat($('#factura_elementos_attributes_4_precio_venta').val());
        var5 = parseFloat($('#factura_elementos_attributes_5_precio_venta').val());
        var6 = parseFloat($('#factura_elementos_attributes_6_precio_venta').val());

        if (isNaN(var0)) {
            var0 = 0;    
        }if(isNaN(var1)){
            var1 = 0;
        }if (isNaN(var2)) {
            var2 = 0;
        }if (isNaN(var3)) {
            var3 = 0;
        }if (isNaN(var4)) {
            var4 = 0;
        }if (isNaN(var5)) {
            var5 = 0;
        }if (isNaN(var6)) {
            var6 = 0;
        }

        val = var0 + var1 + var2 + var3 + var4 + var5 + var6 ;
        
        precio_venta = val    
        valor_venta = precio_venta/1.18
        igv = valor_venta*0.18        
        
        $('#factura_valor_venta').val(valor_venta.toFixed(2));
        $('#factura_igv').val(igv.toFixed(2));
        $('#factura_precio_venta').val(precio_venta.toFixed(2));
  });

  $("#factura_elementos_attributes_0_precio_unitario").change(function(event){
    var0 = parseFloat($('#factura_elementos_attributes_0_precio_unitario').val());
    $('#factura_elementos_attributes_0_precio_unitario').val(var0.toFixed(2));
  });
  $("#factura_elementos_attributes_1_precio_unitario").change(function(event){
    var0 = parseFloat($('#factura_elementos_attributes_1_precio_unitario').val());
    $('#factura_elementos_attributes_1_precio_unitario').val(var0.toFixed(2));
  });
  $("#factura_elementos_attributes_2_precio_unitario").change(function(event){
    var0 = parseFloat($('#factura_elementos_attributes_2_precio_unitario').val());
    $('#factura_elementos_attributes_2_precio_unitario').val(var0.toFixed(2));
  });
  $("#factura_elementos_attributes_3_precio_unitario").change(function(event){
    var0 = parseFloat($('#factura_elementos_attributes_3_precio_unitario').val());
    $('#factura_elementos_attributes_3_precio_unitario').val(var0.toFixed(2));
  });
  $("#factura_elementos_attributes_4_precio_unitario").change(function(event){
    var0 = parseFloat($('#factura_elementos_attributes_4_precio_unitario').val());
    $('#factura_elementos_attributes_4_precio_unitario').val(var0.toFixed(2));
  });
  $("#factura_elementos_attributes_5_precio_unitario").change(function(event){
    var0 = parseFloat($('#factura_elementos_attributes_5_precio_unitario').val());
    $('#factura_elementos_attributes_5_precio_unitario').val(var0.toFixed(2));
  });
  $("#factura_elementos_attributes_6_precio_unitario").change(function(event){
    var0 = parseFloat($('#factura_elementos_attributes_6_precio_unitario').val());
    $('#factura_elementos_attributes_6_precio_unitario').val(var0.toFixed(2));
  });




  $("#factura_elementos_attributes_0_precio_venta").change(function(event){
    var1 = parseFloat($('#factura_elementos_attributes_0_precio_venta').val());
    $('#factura_elementos_attributes_0_precio_venta').val(var1.toFixed(2));
  });
  $("#factura_elementos_attributes_1_precio_venta").change(function(event){
    var1 = parseFloat($('#factura_elementos_attributes_1_precio_venta').val());
    $('#factura_elementos_attributes_1_precio_venta').val(var1.toFixed(2));
  });
  $("#factura_elementos_attributes_2_precio_venta").change(function(event){
    var1 = parseFloat($('#factura_elementos_attributes_2_precio_venta').val());
    $('#factura_elementos_attributes_2_precio_venta').val(var1.toFixed(2));
  });
  $("#factura_elementos_attributes_3_precio_venta").change(function(event){
    var1 = parseFloat($('#factura_elementos_attributes_3_precio_venta').val());
    $('#factura_elementos_attributes_3_precio_venta').val(var1.toFixed(2));
  });
  $("#factura_elementos_attributes_4_precio_venta").change(function(event){
    var1 = parseFloat($('#factura_elementos_attributes_4_precio_venta').val());
    $('#factura_elementos_attributes_4_precio_venta').val(var1.toFixed(2));
  });
  $("#factura_elementos_attributes_5_precio_venta").change(function(event){
    var1 = parseFloat($('#factura_elementos_attributes_5_precio_venta').val());
    $('#factura_elementos_attributes_5_precio_venta').val(var1.toFixed(2));
  });
  $("#factura_elementos_attributes_6_precio_venta").change(function(event){
    var1 = parseFloat($('#factura_elementos_attributes_6_precio_venta').val());
    $('#factura_elementos_attributes_6_precio_venta').val(var1.toFixed(2));
  });




