= form_for @factura, :html => { class: '', role: 'form' } do |f|
  - if @factura.errors.any?
    #error_explanation
      %h2= "#{pluralize(@factura.errors.count, "error")}"
      %ul
        - @factura.errors.full_messages.each do |msg|
          %li= msg


  .row
    .col-sm-2
      .form-group
        = f.text_field :numero, class: 'form-control input-lg', placeholder: 'numero', value: '503-000178'
    .col-sm-2
      .form-group
        = f.text_field :fecha, class: 'form-control input-lg', placeholder: 'fecha'
    .col-sm-3
      .form-group
        = f.select :sender_id, Sender.all.collect{|x| ["#{x.ruc} #{x.name_reason} #{x.identity_document}", x.id]}, {:include_blank => 'Remitente'}, { :class => 'form-control select2 input-lg'}
    .col-sm-3
      .form-group
        = f.select :credito_id, Credito.all.collect{|x| [x.nombre, x.id]},{:include_blank => 'Seleccione'},class: 'form-control input-lg', placeholder: 'condiciones de pago'
    .col-sm-2
      .form-group
        = f.select :guide_id, Guide.all.collect{|x| [x.numero_remision_guia, x.id]}, {include_blank: 'Numero Guia'}, class: 'form-control input-lg'

  .row
    = f.fields_for :elementos do |elemento|
      = render 'elemento_fields', :f => elemento
     
  .row
    .col-sm-2
      = link_to_add_association '<span class="glyphicon glyphicon-plus"></span> Agregar'.html_safe, f, :elementos, class: 'btn btn-primary btn-lg'
    .col-sm-7

    #valor_venta.col-sm-2
      = f.text_field :valor_venta, class: 'form-control input-lg', placeholder: 'VALOR DE VENTA'
    .col-sm-1
    %br
    %br
    .col-sm-9
    #igv.col-sm-2
      = f.text_field :igv, class: 'form-control input-lg', placeholder: 'I.G.V.'
    .col-sm-1
    %br
    %br
    .col-sm-9          
    #precio_venta.col-sm-2
      = f.text_field :precio_venta, class: 'form-control input-lg', placeholder: 'PRECIO DE VENTA'          
    .col-sm-1          

  .panel.panel-default
    .panel-heading
      %h3.panel-title 
        %span.glyphicon.glyphicon-lock
        %b Datos        
    .panel-body   
      .form-group
        #efectivo.col-sm-2
          .checkbox
            %label 
              = f.check_box :efectivo, class: 'form-control'
              Efectivo
        #cheque.col-sm-2
          .checkbox
            %label
              = f.check_box :cheque, class: 'form-control'
              Cheque
        #banco.col-sm-3
          = f.text_field :banco, class: 'form-control', placeholder: 'Banco'
        #numero_cheque.col-sm-3
          = f.text_field :numero_cheque, class: 'form-control', placeholder: 'Numero Cheque'
        #cancelado_fecha.col-sm-2
          = f.text_field :cancelado_fecha, class: 'form-control', placeholder: 'Fecha Cancelacion' 

  - if params[:action] == 'new' || params[:action] == 'create'   
    .form-group
      .col-sm-12
        = button_tag(type: 'submit', class: "btn btn-success btn-lg") do 
          %span.glyphicon.glyphicon-new-window
          Guardar
        = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning btn-lg'
  - if params[:action] == 'edit'
    .form-group
      .col-sm-12
        = button_tag(type: 'submit', class: "btn btn-success btn-lg") do 
          %span.glyphicon.glyphicon-new-window
          Guardar
        = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, @factura, class: 'btn btn-info btn-lg'
        = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning btn-lg'
:javascript
  $('#factura_fecha').datepicker({
      format: 'yyyy-mm-dd',
      language: 'es',
      autoclose: true      
  });
  $('#factura_cancelado_fecha').datepicker({
      format: 'yyyy-mm-dd',
      language: 'es',
      autoclose: true      
  });
  $(document).ready(function() { $("#factura_credito_id").select2(); });
  $(document).ready(function() { $("#factura_guide_id").select2(); });  
  $(document).ready(function() { 
    $("#factura_sender_id").select2({ dropdownAutoWidth : true }); 

  });

  


  $('*').on('keydown', function(e){
      if (e.keyCode === 13) {
          var inputs = $(this).parents("form").eq(0).find(":input");
          var idx = inputs.index(this);
          if (idx == inputs.length - 1) {
              inputs[0].select()
          } else {
              inputs[idx + 1].focus(); //  handles submit buttons
              inputs[idx + 1].select();
          }
          return false;
      }
  });

