.page-header
  .row
    .col-sm-8
      %h1 
        %span.glyphicon.glyphicon-th-large
        Facturas
        %b Principal
        %small JCH
    .col-sm-4
      %br
      = link_to "<span class='glyphicon glyphicon-plus'></span> Crear Factura".html_safe, new_factura_path, :class => 'btn btn-primary btn-lg pull-right'
    
.row
  .col-sm-6
    .pull-left
      = will_paginate @collection, renderer: BootstrapPagination::Rails
  .col-sm-6
    %br
    .pull-right
      .input-group.custom-search-form
      = form_tag("/facturas", method: "get", class: 'form-inline') do
        .input-group
          - if !params[:q].nil?
            - q = params[:q]
          - else
            - q = ''
          = text_field_tag :q, nil,  class: 'form-control', placeholder: 'Numero Factura', value: "#{q}"
          .input-group-btn
            %button.btn.btn-default{type: "submit"}
              %span.glyphicon.glyphicon-search  

%br
.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed.table-hover
        %tr.well
          %th Numero
          %th Nombre
          %th RUC
          %th Fecha
          %th Estado


        - @facturas.each do |factura|
          %tr
            %td
              %span.badge.alert-info
                %span.glyphicon.glyphicon-share-alt
                %b              
                  \# 506 -
                = link_to factura.numero.to_s.rjust(6, '0'), factura, class: '' 
                
            %td= factura.sender_address.sender.name_reason
            %td= factura.sender_address.sender.try(:ruc)
            %td= factura.fecha
            %td
              - if factura.estado == 0
                %span.label.label-success Facturado
              - else
                %span.label.label-danger Anulado

            