.row
  .col-sm-12
    .invoice-title
      %h2 Factura 
      %h3.pull-right 
        %span.label.label-primary 
          \# 506 -
          = @factura.numero
        
    %hr
    .row
      .col-sm-6
        %address
          %strong 
            Datos Generales:
          %br
          Fecha,
          = @factura.fecha
          %br
          Remitente,
          = @factura.sender_address.sender.name_reason
          %br
          R.U.C, 
          = @factura.sender_address.sender.ruc
          %br 
          Direccion,
          = @factura.sender_address.direccion
          %br
          Guia Numero,            
          = @factura.guide.try(:numero_remision_guia)
          %br 
          Condiciones de Pago, 
          = @factura.credito.try(:nombre)
            
      .col-sm-6
        %address.text-right
          %strong 
            Datos de Pago:
          %br
          Efectivo,
          = @factura.try(:efectivo)
          %br
          Cheque,
          = @factura.try(:cheque)
          %br
          Banco,
          = @factura.try(:banco)
          %br
          Numero de Cheque,
          = @factura.try(:numero_cheque)
          %br 
          Fecha de Cancelacion,
          = @factura.try(:cancelado_fecha)
    .row
      .col-sm-12
        %table.table.table-condensed.table-hover
          %tr.well
            %th Cantidad
            %th Descripcion
            %th Precio Unitario
            %th Precio Venta
          - @factura.elementos.each do |elemento|        
            %tr
              %td.col-sm-1= elemento.try(:cantidad)
              %td.col-sm-7
                - if !elemento.guide_id.blank?
                  \#506 - 
                  = elemento.guide.try(:numero_remision_guia)
                - elsif !elemento.item_id.blank?
                  Codigo:
                  = elemento.item.try(:codigo)
                  Descp:
                  = elemento.item.try(:descripcion)
                  Cant:
                  = elemento.item.try(:cantidad)
                  = elemento.item.measure.try(:nombre)
                  Peso:
                  = elemento.item.try(:peso)
                  = elemento.item.unit.try(:und)
                ,
                = elemento.descripcion
              %td.col-sm-2= elemento.try(:precio_unitario)
              %td.col-sm-2
                = elemento.precio_venta
                = @factura.moneda.try(:simbolo)
          %tr
            %td.col-sm-8.thick-line{:colspan => "2"}
            %td.col-sm-2.thick-line
              %b Valor de Venta
            %td.col-sm-2.thick-line
              %b
                = @factura.try(:valor_venta)
                = @factura.moneda.try(:simbolo)
          %tr
            %td.col-sm-8{:colspan => '2'}
            %td.col-sm-2
              %b I.G.V (18%)
            %td.col-sm-2
              %b
                = @factura.igv
                = @factura.moneda.try(:simbolo)
          %tr
            %td.col-sm-8{:colspan => '2'}
            %td.col-sm-2
              %b Precio Venta
            %td.col-sm-2
              %b
                = @factura.precio_venta
                = @factura.moneda.try(:simbolo)
  - if @factura.estado == 0  
    = link_to '<span class="glyphicon glyphicon-trash"></span> Anular'.html_safe, anular_factura_facturas_path(:id => @factura.id),:data => { :confirm => '¿Estás Seguro que desea anular?' },  class: 'btn btn-danger btn-lg'
  = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, facturas_path, class: 'btn btn-primary btn-lg'

  = link_to '<span class="glyphicon glyphicon-print"></span> Imprimir'.html_safe, "/facturas/#{@factura.id}.pdf", class: 'btn btn-warning btn-lg', target: "_blank"
    
    
