= form_for @department, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @department.errors.any?
    #error_explanation
      %h2= "#{pluralize(@department.errors.count, "error")}"
      %ul
        - @department.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :nombre, class: 'form-control', placeholder: 'Lima'

  %h3 Provincias
  %hr
  = f.fields_for :provinces do |province|
    = render 'province_fields', :f => province
  #provinces
    = link_to_add_association '<span class="glyphicon glyphicon-plus"></span> Agregar'.html_safe, f, :provinces, class: 'btn btn-primary'
  .form-group
    .col-sm-2
    .col-sm-5
      = button_tag(type: 'submit', class: "btn btn-default -btn-sm") do 
        %span.glyphicon.glyphicon-lock
        Guardar
      

:javascript
  $('*').on('keydown', function(e){
      if (e.keyCode === 13) {
          var inputs = $(this).parents("form").eq(0).find(":input");
          var idx = inputs.index(this);
          if (idx == inputs.length - 1) {
              inputs[0].select()
          } else {
              inputs[idx + 1].focus(); //  handles submit buttons
              inputs[idx + 1].select();
          }
          return false;
      }
  });