#region-elementos.container

  .region
    .region-title
      %h1= page_title!('elementos')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Elemento', new_elemento_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Cantidad
            %th Descripcion
            %th Precio unitario
            %th Precio venta
            %th Facturas
            %th Monedas
            %th
            %th
            %th

          - @elementos.each do |elemento|
            %tr
              %td= elemento.cantidad
              %td= elemento.descripcion
              %td= elemento.precio_unitario
              %td= elemento.precio_venta
              %td= elemento.facturas
              %td= elemento.monedas
              %td= link_to 'Ver', elemento, class: 'btn btn-info'
              - if current_admin
                %td= link_to 'Editar', edit_elemento_path(elemento), class: 'btn btn-success'
                %td= link_to 'Eliminar', elemento, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
