= form_for @unit, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @unit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@unit.errors.count, "error")}"
      %ul
        - @unit.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :und, class: 'col-sm-2 control-label'
    .col-sm-1
      = f.text_field :und, class: 'form-control'
  .form-group
    .col-sm-2
    .col-sm-4
      = f.submit 'Guardar', class: 'btn btn-default btn-sm'
