#region-units

  .region
    .page-header
      %h1 Unidades

    .region      
      .admin-control
        = link_to '<span class="glyphicon glyphicon-plus"></span> Crear'.html_safe, new_unit_path, class: 'btn btn-primary btn-lg'
      %br
      .row 
        .col-sm-7
          .table-responsive
            %table.table.table-hover.table-condensed.table-bordered
              %tr.well
                %th #id
                %th Nombre
                %th Und
                %th Acciones

              - @units.each do |unit|
                %tr
                  %td= unit.id
                  %td= unit.nombre
                  %td= unit.und
                  %td
                    = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, unit, class: 'btn btn-info btn-sm'
                    = link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_unit_path(unit), class: 'btn btn-success btn-sm'
                    = link_to '<span class="glyphicon glyphicon-trash"></span> Eliminar'.html_safe, unit, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger btn-sm'
