#region-units.container
  .region
    .page-header
      %h1= page_title!('Unidad')

  .region
    %p
      %b Nombre:
      = @unit.nombre
    %p
      %b Und:
      = @unit.und

  .region    
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_unit_path(@unit), class: 'btn btn-success btn-sm'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, units_path, class: 'btn btn-warning btn-sm'
