= form_for @sender, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @sender.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sender.errors.count, "error")}"
      %ul
        - @sender.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "Nombre / Razon Social", class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :name_reason, class: 'form-control'
  .form-group
    = f.label :ruc, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :ruc, class: 'form-control'
  .form-group
    = f.label "DNI", class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :identity_document, class: 'form-control'


  %h3 
    Direcciones
    %small del Remitente
  %hr

  
  = f.fields_for :sender_addresses do |sender_addres|
    = render 'sender_address_fields', :f => sender_addres
  #direcciones
    = link_to_add_association '<span class="glyphicon glyphicon-plus"></span> Agregar'.html_safe, f, :sender_addresses, class: 'btn btn-primary'
      
  %br
  .form-group
    .col-sm-4
      = f.submit 'Guardar', class: 'btn btn-default'


:javascript
  $('*').on('keydown', function(e){
      if (e.keyCode === 13) {
          var inputs = $(this).parents("form").eq(0).find(":input");
          var idx = inputs.index(this);
          if (idx == inputs.length - 1) {
              inputs[0].select()
          } else {
              inputs[idx + 1].focus(); //  handles submit buttons
              inputs[idx + 1].select();
          }
          return false;
      }
  });