= form_for @number_invoice, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @number_invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@number_invoice.errors.count, "error")}"
      %ul
        - @number_invoice.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :number, class: 'col-sm-2 control-label'
    .col-sm-2
      = f.text_field :number, class: 'form-control', placeholder: '41'
  .form-group
    .col-sm-2
    .col-sm-4
      = f.submit 'Guardar', class: 'btn btn-default'
