.page-header
  .row
    .col-sm-8
      %h1
        %span.glyphicon.glyphicon-sort-by-attributes-alt
        %b G.R. 
        Transportistas
        %small JCH
    .col-sm-4
      %br
      = link_to '<span class="glyphicon glyphicon-plus"></span> Crear Guia'.html_safe, new_guide_path, class: 'btn btn-primary pull-right btn-lg'
  
.row
  .col-sm-6
    .pull-left
      = will_paginate @collection, renderer: BootstrapPagination::Rails
  .col-sm-6
    %br
    .pull-right
      .input-group.custom-search-form
      = form_tag("/guides", method: "get", class: 'form-inline') do
        .input-group
          - if !params[:q].nil?
            - q = params[:q]
          - else
            - q = ''
          = text_field_tag :q, nil,  class: 'form-control', placeholder: 'Numero guia', value: "#{q}"
          .input-group-btn
            %button.btn.btn-default{type: "submit"}
              %span.glyphicon.glyphicon-search          


%br
.row
  .col-sm-12
    .table-responsive
      %table.table.table-hover.table-condensed
        %tr.well
          %th # Guia
          %th Remitente
          %th F. Emision
          %th F. Inicio traslado
          %th Facturado
          %th Estado


        - @guides.each do |guide|
          %tr
            %td
              %span.badge.alert-info
                %span.glyphicon.glyphicon-share-alt                  
                = link_to "# 508 - #{guide.numero_remision_guia.to_s.rjust(6, '0')}", guide, class: ''
            %td= guide.sender.name_reason
            %td= guide.fecha_emision
            %td= guide.fecha_inicio_traslado
            %td 
              - if guide.facturado == 0
                %span.label.label-default No
              - else
                %span.label.label-primary si
            %td
              - if guide.estado == 0
                %span.label.label-success Entregado
              - else
                %span.label.label-danger Anulado

              
            
.row
  .col-sm-12
    .pull-right
      = will_paginate @collection, renderer: BootstrapPagination::Rails
