%ol.breadcrumb
  %li= link_to "Home", '#'
  %li= link_to "Library", '#'
  %li.active Data

.row
  .col-sm-12
    .invoice-title
      %h2 Guia Remision 
      %h3.pull-right 
        Numero # 508 -
        = @guide.numero_remision_guia
    %hr
    .row
      .col-sm-6
        %blockquote
          %p 
            Datos Generales:
          %footer
            Fecha de Emision,  
            = @guide.fecha_emision.strftime("%d %b. %Y")
          %footer
            Fecha de Inicio del Translado, 
            = @guide.fecha_inicio_traslado.strftime("%d %b. %Y")
          %br
          %p
            Datos Empresa Subcontratada
          %footer
            Nombre / Razon,
            = @guide.empresa_subcontratada_nombre_apellido_razon_social
          %footer
            RUC,
            = @guide.empresa_subcontratada_ruc
      .col-sm-6
        %blockquote.blockquote-reverse          
          %p
            Identificacion Unidad y Conductor
          %footer
            Marca del Vehiculo,          
            = @guide.unidad_marca_vehiculo
          %footer
            Placa Delante,
            = @guide.front.nombre
          %footer
            Placa Atraz,
            = @guide.back.nombre
          %footer
            Configuracion Vehicular,
            = @guide.unidad_configuracion_vehicular
          %footer
            \# Certificado de Inscrip,
            = @guide.conductor_certificado_inscripcion
          %footer
            Licencia de Conducir,
            = @guide.conductor_licencia_conducir

  .col-sm-12
    .row
      .col-sm-6
        %blockquote          
          %p
            Direccion de Partida:
          %footer
            Direccion,
            = @guide.partida_direccion          
          %footer
            Departamento,
            = @guide.llegada_department.nombre
          %footer
            Provincia,
            = @guide.partida_province.nombre
          %footer
            Distrito
            = @guide.partida_district.nombre
        %blockquote          
          %p
            Direccion de Llegada:
          %footer
            Direccion,
            = @guide.llegada_direccion  
          %footer
            Departamento,
            = @guide.llegada_department.nombre
          %footer
            Provincia,
            = @guide.llegada_province.nombre
          %footer
            Distrito
            = @guide.llegada_district.nombre

      .col-sm-6.text-right
        %blockquote.blockquote-reverse          
          %p 
            Remitente:
          %footer
            Nombres / Razon Social,
            = @guide.remitente_apellido_nombre_razon_social    
          %footer
            RUC,
            = @guide.remitente_ruc
          %footer
            Documento de Identidad,
            = @guide.remitente_dni
        %blockquote.blockquote-reverse          
          %p
            Destinatario:
          %footer
            Nombres / Razon Social,
            = @guide.destinatario_apellido_nombre_razon_social 
          %footer
            RUC,
            = @guide.destinatario_ruc
          %footer
            Documento de Identidad,
            = @guide.destinatario_dni

// fila 4
.row
  .col-sm-12  

    .panel.panel-default  
      .panel-heading
        %h3.panel-title            
          %b Items            
                
      .panel-body        
        .row
          .col-sm-12
            %table.table.table-condensed
              %tr
                %th codigo
                %th descripcion
                %th cantidad
                %th medida
                %th peso
                %th unidad

              - @guide.items.each do |item|
                %tr
                  %td.col-sm-2= item.codigo
                  %td.col-sm-6= item.descripcion
                  %td.col-sm-1= item.cantidad
                  %td.col-sm-1= item.measure.nombre
                  %td.col-sm-1= item.peso
                  %td.col-sm-1= item.unit.und
              %tr
                %td.thick-line
                %td.thick-line
                %td.thick-line
                %td.thick-line
                %td.thick-line
                %td.thick-line             
              
          

%br
= link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_guide_path(@guide), class: 'btn btn-primary btn-lg'
= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, guides_path, class: 'btn btn-warning btn-lg'