.row
  .col-sm-12
    .invoice-title
      %h2 Guia Remision 
      %h3.pull-right         
        %span.label.label-primary          
          \# 508 -
          = @guide.numero_remision_guia
    %hr
    .row
      .col-sm-6
        %address
          %strong
            Datos Generales:
          %br
          Fecha de Emision,  
          = @guide.fecha_emision.strftime("%d %b. %Y")
          %br          
          Fecha de Inicio del Translado, 
          = @guide.fecha_inicio_traslado.strftime("%d %b. %Y")
          %br
          %br 
          %strong 
            Datos Empresa Subcontratada           
          %br        
          Nombre / Razon,
          = @guide.empresa_subcontratada_nombre_apellido_razon_social
          %br          
          RUC,
          = @guide.empresa_subcontratada_ruc
      .col-sm-6.text-right
        %address     
          %strong
            Identificacion Unidad y Conductor
          %br
          Marca del Vehiculo,          
          = @guide.unidad_marca_vehiculo
          %br
          Placa Delante,
          = @guide.front.nombre
          %br
          Placa Atraz,
          = @guide.back.nombre
          %br
          Configuracion Vehicular,
          = @guide.unidad_configuracion_vehicular
          %br
          \# Certificado de Inscrip,
          = @guide.conductor_certificado_inscripcion
          %br
          Licencia de Conducir,
          = @guide.conductor_licencia_conducir

  .col-sm-12
    .row
      .col-sm-6
        %address      
          %strong
            Direccion de Partida:
          %br
          Direccion,
          = @guide.partida_direccion          
          %br
          Departamento,
          = @guide.llegada_department.nombre
          %br
          Provincia,
          = @guide.partida_province.nombre
          %br
          Distrito
          = @guide.partida_district.nombre
          %br
          %br                 
          %strong
            Direccion de Llegada:
          %br
          Direccion,
          = @guide.llegada_direccion  
          %br
          Departamento,
          = @guide.llegada_department.nombre
          %br
          Provincia,
          = @guide.llegada_province.nombre
          %br
          Distrito
          = @guide.llegada_district.nombre

      .col-sm-6.text-right
        %address      
          %strong
            Remitente:
          %br
          Nombres / Razon Social,
          = @guide.sender.name_reason
          %br
          RUC,
          = @guide.sender.ruc
          %br
          Documento de Identidad,
          = @guide.sender.identity_document
          %br
          %br     
          %strong
            Destinatario:
          %br
          Nombres / Razon Social,
          = @guide.addressee.name_reason
          %br
          RUC,
          = @guide.addressee.ruc
          %br
          Documento de Identidad,
          = @guide.addressee.identity_document

       

  .col-sm-12
    %table.table.table-condensed
      %tr
        %th codigo
        %th descripcion
        %th cantidad
        %th medida
        %th peso
        %th unidad

      - @guide.items.each do |item|
        %tr
          %td.col-sm-2= item.codigo
          %td.col-sm-6= item.descripcion
          %td.col-sm-1= item.cantidad
          %td.col-sm-1= item.measure.nombre
          %td.col-sm-1= item.peso
          %td.col-sm-1= item.unit.und
      %tr
        %td.thick-line
        %td.thick-line
        %td.thick-line
        %td.thick-line
        %td.thick-line
        %td.thick-line             
              
          

%br
- if @guide.estado == 0
  - if @guide.facturado == 0
    = link_to '<span class="glyphicon glyphicon-trash"></span> Anular'.html_safe, anular_guide_guides_path(:id => @guide.id),:data => { :confirm => '¿Estás Seguro que desea anular?' },  class: 'btn btn-danger btn-lg'

= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, guides_path, class: 'btn btn-primary btn-lg'
= link_to '<span class="glyphicon glyphicon-print"></span> Imprimir'.html_safe, "/guides/#{@guide.id}.pdf", class: 'btn btn-warning btn-lg', target: "_blank"