//Title
.row
  .col-sm-6
    %h1 Guia Remision 
  .col-sm-6.text-right      
    %h1
      %span.label.label-primary          
        \# 508 -
        = @guide.numero_remision_guia
%hr

.row
  .col-sm-6

    %h3 Datos Generales              
    %strong Fecha de Emision :
    = @guide.fecha_emision.strftime("%d %b. %Y")
    %br      
    %strong Fecha de Inicio del Translado :
    = @guide.fecha_inicio_traslado.strftime("%d %b. %Y")

    %hr
    %h3 Direccion de Partida              
    %strong Direccion :
    = @guide.partida_direccion
    %br
    %strong Departamento :
    = @guide.partida_district.province.department.nombre
    %br
    %strong Provincia :
    = @guide.partida_district.province.nombre
    %br
    %strong Distrito :
    = @guide.partida_district.nombre

    %hr
    %h3 Direccion de Llegada              
    %strong Direccion :
    = @guide.llegada_direccion    
    %br
    %strong Departamento :
    = @guide.llegada_district.province.department.nombre
    %br
    %strong Provincia :
    = @guide.llegada_district.province.nombre
    %br
    %strong Distrito :
    = @guide.llegada_district.nombre

    %hr
    %h3 Remitente    
    %strong Nombres / Razon Social :
    = @guide.sender.name_reason
    %br
    %strong RUC :
    = @guide.sender.ruc
    %br
    %strong Documento de Identidad :
    = @guide.sender.identity_document    

  .col-sm-6.text-right    
    %h3 Destinatario            
    = @guide.addressee.name_reason      
    %strong : Nombres / Razon Social
    %br      
    = @guide.addressee.ruc
    %strong RUC :
    %br      
    = @guide.addressee.identity_document
    %strong : Documento de Identidad

    %hr
    %h3 Datos de la Empresa Subcontratada    
    = @guide.try(:empresa_subcontratada_nombre_apellido_razon_social)
    %strong : Nombre / Razon
    %br    
    = @guide.try(:empresa_subcontratada_ruc)
    %strong : RUC

    %hr
    %h3 Identificacion Unidad y Conductor    
    = @guide.try(:unidad_marca_vehiculo)
    %strong : Marca del Vehiculo
    %br    
    = @guide.try(:placa)  
    %strong : Placa
    %br   
    = @guide.try(:unidad_configuracion_vehicular)
    %strong : Configuracion Vehicular
    %br    
    = @guide.try(:conductor_certificado_inscripcion)
    %strong : Certificado de Inscripcion
    %br    
    = @guide.try(:conductor_licencia_conducir)
    %strong : Licencia de Conducir

%br
%br
    
      
.row
  .col-sm-12
    %table.table.table-condensed
      %tr.well
        %th Codigo
        %th Descripcion
        %th Cantidad
        %th Medida
        %th Peso
        %th Unidad

      - @guide.items.each do |item|
        %tr
          %td.col-sm-2= item.try(:codigo)
          %td.col-sm-6= item.try(:descripcion)
          %td.col-sm-1= item.try(:cantidad)
          %td.col-sm-1= item.measure.try(:nombre)
          %td.col-sm-1= item.try(:peso)
          %td.col-sm-1= item.unit.try(:und)
            
              
          

%br
- if @guide.estado == 0
  - if @guide.facturado == 0
    = link_to '<span class="glyphicon glyphicon-trash"></span> Anular'.html_safe, anular_guide_guides_path(:id => @guide.id),:data => { :confirm => '¿Estás Seguro que desea anular?' },  class: 'btn btn-danger btn-lg'

= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, guides_path, class: 'btn btn-primary btn-lg'
= link_to '<span class="glyphicon glyphicon-print"></span> Imprimir'.html_safe, "/guides/#{@guide.id}.pdf", class: 'btn btn-warning btn-lg', target: "_blank"