#region-measures.container

  .region
    .page-header
      %h1= page_title!('measures')

    .region      
      .admin-control
        = link_to '<span class="glyphicon glyphicon-plus"></span> Crear Unidad Medida'.html_safe, new_measure_path, class: 'btn btn-primary btn-sm'
      %br

      .table-responsive
        %table.table
          %tr
            %th Nombre
            %th Und
            %th
            %th
            %th

          - @measures.each do |measure|
            %tr
              %td= measure.nombre
              %td= measure.und
              %td
                = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, measure, class: 'btn btn-info btn-sm'
                = link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_measure_path(measure), class: 'btn btn-success btn-sm'
                = link_to '<span class="glyphicon glyphicon-trash"></span> Eliminar'.html_safe, measure, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger btn-sm'
