%li= link_to "Departamentos", departments_path
%li= link_to "Provincias", provinces_path
%li= link_to "Distritos", districts_path
%li= link_to "P Delanteras", fronts_path
%li= link_to "P Traseras", backs_path
%li= link_to "Guia Remision", guides_path