!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Jchtransport'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Jchtransport'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body    
    %header      
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container.container_body
        = render 'layouts/messages'
        = yield
